# Others
.vscode
.cursor
.DS_Store


deployments/*.yaml
Clarinet.toml.**

# JS
fix-**.js
generate-all-**.js
generate-clarinet-**.js
rebuild-clarinet-**.js
generate-contracts.js
deduplicate-toml.js
update-**.js
verify-**.js